.App h1 {
  text-align: center;
}

.App #todo_form {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.App #todo-list {
  width: 60%;
  margin: 0 auto;
}

.App #todo-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App #todo-list div :is(input, button) {
  font-size: 1rem;
  margin: 5px;
}

.App #todo-list div :is(input) {
  height: 40px;
  width: 40px;
}
